<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Page</title>
    <link rel="stylesheet" href="/static/blogpage.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <input type="text" placeholder="Chapter Title" />
            <input class="author" type="text" placeholder="Author" />
        </div>
        <div class="content">
            <textarea placeholder="write your content"> </textarea>
        </div>
    </div>
</body>
</html>
